.load-in {
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  z-index: 0;
  position: relative;
  filter: saturate(40%);
}

.frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #eac1ff;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  height: 60%;
  width: 50%;
  z-index: 1;
  background-color: azure;
  text-align: center;
}

@keyframes loading {
  0% {
    transform: scale(0.5);
    opacity: 0;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.3);
  }

  75% {
    opacity: 20%;
    transform: scale(1.05);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

.hidden {
  opacity: 0;
}
